.chart{
    background-image: url('https://img.freepik.com/free-photo/3d-render-low-poly-design-abstract-blur-background_1048-12681.jpg?w=740&t=st=1665475320~exp=1665475920~hmac=3993fb1a6ba4aa1ad977dd7711a590f26a384b5968e0220ef7f667280f1d24a5');
    background-size: cover;
    height: 100vh;
}