.home{
        background-image: url('https://img.freepik.com/free-photo/businessman-pointing-his-presentation-futuristic-digital-screen_53876-102617.jpg?w=740&t=st=1665472933~exp=1665473533~hmac=a56f77ecb24041cc73d39b3e2700cb1a923ea34c55562c9b84a67f3a64a3ebfe');
        background-size: cover;
        height: 100vh;
}